#play商店下载  
#国行安卓 分配节点cdn  services.googleapis.cn（命中geosite:cn） 与 实际下载节点  *.xn--ngstr-lra8j.com（命中geosite:Google@cn） 成功下载需要两个域名同时走直连/代理
#国际版安卓 分配节点 *.googleapis.com  下载节点 *.gvt1.com   （均命中Geosite：Google）
#steamcloud-sgp.oss-accelerate.aliyuncs.com
payload:
 - DOMAIN,services.googleapis.cn
 - DOMAIN-SUFFIX,xn--ngstr-lra8j.com
 - DOMAIN-SUFFIX,oss-accelerate.aliyuncs.com
 - DOMAIN,gamemaps.com
 - DOMAIN,raw.kiko-play-niptan.one
 - DOMAIN-SUFFIX,hath.network
 - DOMAIN-KEYWORD,jmapiproxy
 - DOMAIN,ba.dn.nexoncdn.co.kr
 - DOMAIN,c0.jdbstatic.com
 - DOMAIN,game.clashroyaleapp.com
